.add-product {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 10px;
    background: #CDE8E5;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}
.add-product h1{
    align-self: center;
}

.addproduct-itemfield {
    width: 100%;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addproduct-itemfield input,
.addproduct-itemfield select {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-left: 15px;
    border: 1px solid #F9F5EB;
    outline: none;
    color: #7b7b7b;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

.addproduct-price {
    display: flex;
    gap: 20px;
}

.addproduct-price > .addproduct-itemfield {
    flex: 1;
}

.add-product-selector {
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #F9F5EB;
    border-radius: 8px;
}

.addproduct-thumnail-img {
    height: 120px;
    width: 120px;
    border-radius: 15px;
    object-fit: contain;
    margin: 10px 0px;
}

.addproduct-btn {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background: #153448;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 800px) {
    .add-product {
        width: auto;
        padding: 30px;
        margin: 20px;
    }

    .addproduct-price {
        flex-direction: column; 
        gap: 10px;
    }
}
